$primary-color: #ffffff;
$background-color: #638bff;
$footer-color: #353753;
$page-bottom-color: #565b87;
$page-font: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

p {
  color: $primary-color;
  font-family: $page-font;
  font-weight: normal;
  font-smooth: always;
}

a {
  color: $primary-color;
}

div {
  h3 {
    text-align: left;
    font-family: $page-font;
    font-weight: bold;
  }
}

.container--background {
  background-color: $background-color;
  background-repeat: no-repeat;
}

.container--wave {
  background-image: url("img/wavespng.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  h1 {
    margin-top: 100px;
    font-size: 3.5em;
    color: $primary-color;
    font-family: $page-font;
    font-weight: normal;
  }
  p {
    margin-top: 30px;
    padding-right: 140px;
  }
  button {
    margin: 30px 2px;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    color: $primary-color;
    font-family: $page-font;
    font-weight: normal;
  }
  @media (max-width:756px){
    .image--hidden img:first-child{
      display:none;
    }
  }
}

.button--download {
  background-color: #fb6941;
}
.button-features {
  background-color: #4365c9;
}

.container--background-bottom {
  background-color: #5b81ec;
  width:Auto;
  height:150px;
  border-bottom-left-radius:70%;
  border-bottom-right-radius:70%;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
  }
}

.nav-link {
  color: $primary-color;
  padding-right: 7em !important;
}

.navbar-nav {
  img {
    padding-right: 1.8em !important;
  }
}

.navbar-brand {
  color: $primary-color;
  margin-right: 7em !important;
}

.container--features {
  color: $background-color;
  margin-top: 150px;
  text-align: center;
}

.container--features-p {
  color: darkgrey;
}

.row--features {
  color: black;
  margin-top: 100px;
  margin-bottom: 200px;
  p {
    color: darkgrey;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    line-height: 150%;
    padding: 0px;
  }
  img {
    margin-top: 10px;
  }
}

.div--download {
  background-color: $background-color;
  color: $primary-color;
  padding-top: 30px;
  p {
    margin-top: 30px;
    margin-right: 40px;
  }
  p span {
    display: block;
  }
  img {
    width: 700px;
    height: auto;
  }
}

.col--download-description {
  margin-top: 50px;
  img {
    width: 120px;
    height: auto;
  }
}



.footer {
  padding-top: 100px;
  background: $footer-color;
  padding-bottom: 100px;
  p {
    text-align: right;
    color: $page-bottom-color;
  }
  hr {
    border-color: $page-bottom-color;
    height: 1px;
  }
  img {
    //position: fixed;

  }
}

.div--footer-row {
  div {
    margin-right: 50px;
    color: darkgrey;
    margin-bottom: 100px;
    h4{
      color: #fc6a42;
    }
    span {
      color: $background-color;
    }
  }
  a {
    div {
      padding: 0px;
      margin-right: 0px;
      margin-left: 40px;
    }
    .div--footer-facebook {
      margin-left: 70px;
    }
  }
}