$primary-color: #ffffff;
$background-color: #638bff;
$footer-color: #353753;
$page-bottom-color: #565b87;

p {
  color: $primary-color
}

a {
  color: $primary-color;
}

div {
  h3 {
    text-align: left;
  }
}

.container--background {
  background-color: $background-color;
  width:Auto;
  height:600px;
}

.container--wave {
  background-image: url("img/waves.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    margin-top: 100px;
    font-size: 3.5em;
    color: $primary-color;
  }
  p {
    margin-top: 30px;
    padding-right: 60px;
  }
  button {
    margin: 30px 2px;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    color: $primary-color;
  }
}

.button--download {
  background-color: #fb6941;
}
.button-features {
  background-color: #4365c9;
}

.container--background-bottom {
  background-color: $background-color;
  width:Auto;
  height:150px;
  border-bottom-left-radius:70%;
  border-bottom-right-radius:70%;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
  }
}

.nav-link {
  color: $primary-color;
  padding-left: 7em !important;
}

.navbar-brand {
  color: $primary-color
}

.row--firstScreen{
  margin: 60px;
}

.container--features {
  color: $background-color;
  margin-top: 150px;
  text-align: center;
}

.container--features-p {
  color: darkgrey;
}

.row--features {
  color: black;
  margin-top: 100px;
  margin-bottom: 200px;
  p {
    color: darkgrey;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    line-height: 150%;
    padding: 0px;
  }
}

.div--download {
  background-color: $background-color;
  color: $primary-color;
  padding-top: 30px;
  p {
    margin-top: 50px;
    margin-right: 40px;
  }
  img {
    width: 700px;
    height: auto;
  }
}

.col--download-description {
  margin-top: 50px;
}



.footer {
  padding-top: 100px;
  background: $footer-color;
  padding-bottom: 100px;
  p {
    text-align: right;
    color: $page-bottom-color;
  }
  hr {
    border-color: $page-bottom-color;
    height: 1px;
  }
}

.div--footer-row {
  div {
    margin-right: 50px;
    color: darkgrey;
    margin-bottom: 100px;
    h4{
      color: #fc6a42;
    }
    span {
      color: $background-color;
    }
  }
}