$primary-color: white;

body {
  background-color: #638bff !important;
}

h1 {
  color: $primary-color
}

p {
  color: $primary-color
}

a {
  color: $primary-color;
}

.description {
  color: white;
}